#navbar{
    position: sticky;
    top: 0;
    background-color: white;

} 
.Section1 {
    background: rgb(245,240,230)

}
.Section2{
background-image:url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg")
}
.Section1, .Section2{
    display: block;
    margin: 0;
    padding: 20px;
    width: 100%;
    scroll-margin-top: 150px;
}

body{
    margin: 0;
}
li{
    display: inline;
}
